---
import PrescriptionMaker from "../components/PrescriptionMaker.tsx";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Prescription Maker</title>
    </head>
    <body>
        <PrescriptionMaker client:load />
    </body>
</html>
